services: 

    agent:  
      image: nishithp/vishnet-agent
      build: ./agent
      restart: unless-stopped
      env_file:
        - "./agent/.env"
      ports:
        - "3000:3000"
      command: ["sh", "-c", "sleep 10 && node index.js"]
      volumes:
        - agent_data:/app/recordings
      depends_on:
        - neo4j
        - neo4j-memory-mcp
        - redis
    
    redis:  
      image: redis:latest
      restart: unless-stopped
      ports:
        - "6379:6379"
      volumes:
        - redis_data:/data
    
    neo4j:
      image: neo4j:latest
      restart: unless-stopped
      volumes:
          - /$HOME/neo4j/logs:/logs
          - /$HOME/neo4j/config:/config
          - /$HOME/neo4j/data:/data
          - /$HOME/neo4j/plugins:/plugins
      environment:
          - NEO4J_AUTH=neo4j/ilovecoding
      ports:
        - "7474:7474"
        - "7687:7687"

    neo4j-memory-mcp:
      image: mcp/neo4j-memory
      restart: unless-stopped
      ports:
        - "8000:8000"
      environment:
        - NEO4J_URI=bolt://neo4j:7687
        - NEO4J_USERNAME=neo4j
        - NEO4J_PASSWORD=ilovecoding
        - NEO4J_DATABASE=neo4j 
        - NEO4J_TRANSPORT=http 
        - NEO4J_MCP_SERVER_HOST=0.0.0.0
        - NEO4J_MCP_SERVER_PORT=8000
        - NEO4J_MCP_SERVER_PATH=/api/mcp/
        - NEO4J_MCP_SERVER_ALLOWED_HOSTS=neo4j-memory-mcp,localhost,127.0.0.1
      depends_on:
        - neo4j

volumes:
  redis_data:
  agent_data: